 @media only screen and (max-width:1200px) {
     .secondary-header {
         font-size: var(--fs-400);
     }

     .primary-header {
         font-size: var(--fs-500);
     }
 }

 @media only screen and (max-width:870px) {
     .grid-3 {
         gap: 4rem;
     }

     .hero,
     .biography {
         flex-direction: column;
         text-align: center;
         gap: 8rem;
     }

     .intro *,
     .biography * {
         text-align: center;
         margin: 0 auto;
     }

     .hero img,
     .biography img {
         padding: 0 8rem;
     }

     .biography img {
         order: 1;
     }

     header {
         background-color: transparent;
         display: flex;
         flex-direction: column;
     }

     .logo {
         margin-left: 0;
         margin-right: auto;
     }

     .curves {
         display: none;
     }

     header nav {
         width: 100%;
         background-color: #1A129F;
     }

     header nav ul {
         justify-content: center;
     }

     header nav ul li {
         padding: .3rem 1.3rem;
     }

     .container.header {
         max-width: 100%;
         padding: 0;
     }

     .container {

         max-width: 100%;
         padding: 2rem;
     }

     header {
         padding: 0;
     }

     header .logo {
         padding-left: 1rem;
     }
 }


 @media only screen and (max-width:620px) {
     header nav ul {
         gap: 0rem;
     }

     .hero img,
     .biography img {
         padding: 0 3rem;
     }

     .pricing {
         padding: 0rem;
     }

     .inp-cont {
         flex-direction: column;
     }

     .inp-cont button {
         width: fit-content;
     }

     .inp-cont input {
         width: 100%;
     }
 }

 @media only screen and (max-width:380px) {
     header nav ul {
         flex-wrap: wrap;
         row-gap: 1.6rem;
     }

     .primary-header,
     .secondary-header-2,
     .secondary-header-3 {
         font-size: var(--fs-400);
     }

     .secondary-header {
         font-size: var(--fs-300);
     }

     .grid-3 {
         padding: 4rem 0;
         display: grid;
         grid-template-columns: repeat(auto-fill, 100%);
         gap: 6rem;
     }

 }